html {
	position: relative;
}


body {
	margin-bottom: 120px;
	margin-top: 30px;
}

.jumbotron img {
	width: 180px;
	border: 5px solid #666;
}

hr {
	width: 250px;
	border-top: 3px solid #666;
}

section {
	min-height: 300px;
}

.portfolio {
	background-color: #FFE4E1;
}

.jumbotron {
	background-color: #FFE4E1;
}

.contact {
	min-height: 800px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 120px;
	background-color: #A52A2A;
	padding-top: 30px;
}


footer p {
	color: #FFF8DC;
	font-size: 1em;
}

footer a {
	color: #DEB887;
}

footer p i {
	color: #FFF8DC;
}

.navbar	{
	background-color: #CD5C5C;
}

.about {
	padding-bottom: 150px
}




